<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./head', {title: 'Cart List'}) %>
</head>
<body>
     <%- include('../partials/top_app_bar') %>

     <% if (locals.allCarts.length) { %>
        <% locals.allCarts.forEach(cart => { %>
            <%- include('../partials/cart_card', { cart }) %>
        <% }); %>
        <form action="/bookings/add" method="post">
            <% locals.allCarts.forEach(cart => { %>
                <input type="hidden" name="carts[]" value="<%= cart._id %>">
            <% }); %>
            <p class="d-grid gap-2 d-md-flex justify-content-md-end me-4 pe-5 pt-3">
                <input id="add-to-booking" class="btn btn-success" type="submit" value="Add To Booking">
            </p>
        </form>
           
    <% } else { %>
        <p class="text text-dark ps-5 pt-3">You haven't added any tickets yet.</p>
    <% } %>

    <% if (locals.pagination.next || locals.pagination.prev) {  %>
        <%- include('../partials/pagination') %>
    <% } %>

    <!--
        #SNACKBAR
    -->
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cart.js" type="module"></script>
</body>
</html>